<!doctype html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>@ViewBag.Title</title>
    <meta name="description" content="BlackTie.co - Free Handsome Bootstrap Themes" />
    <meta name="keywords" content="themes, bootstrap, free, templates, bootstrap 3, freebie,">
    <meta property="og:title" content="">
    <link rel="stylesheet" type="text/css" href="~/Content/MUNTER/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/fancybox/jquery.fancybox-v=2.1.5.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/MUNTER/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/MUNTER/style.css">

    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


    <link rel="prefetch" href="images/zoom.png">

</head>
<body>

    <div class="navbar navbar-fixed-top" data-activeslide="1">
        <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting"><img style="max-width:100px; margin-top: -7px;" src="/images/logo.png"></a>

        <div class="container">

            <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav row">
                    <li data-slide="1" class="lnk col-12 col-sm-2">
                        <a id="menu-link-1" href="~/Home/Index#slide-1" title="Next Section">
                            <span class="icon icon-home"></span>
                            <span class="text">HOME</span>
                        </a>
                    </li>
                    <li data-slide="2" class="lnk col-12 col-sm-2">
                        <a id="menu-link-2" href="~/Home/Index#slide-2" title="Next Section">
                            <span class="icon icon-user"></span>
                            <span class="text">¿QUiÉNES SOMOS?</span>
                        </a>
                    </li>
                    <li data-slide="3" class="lnk col-12 col-sm-2">
                        <a id="menu-link-3" href="~/Home/Index#slide-3" title="Next Section">
                            <span class="icon icon-briefcase"></span>
                            <span class="text"> ¡VAMOS A CUENTAR! </span>
                        </a>
                    </li>
                    <li data-slide="4" class="lnk col-12 col-sm-2">
                        <a id="menu-link-4" href="~/Home/Index#slide-4" title="Next Section">
                            <span class="icon icon-gears"></span>
                            <span class="text">¡VAMOS A JUGAR!</span>
                        </a>
                    </li>
                    <li data-slide="6" class="lnk col-12 col-sm-2">
                        <a id="menu-link-6" href="~/Home/Index#slide-6" title="Next Section">
                            <span class="icon icon-gears"></span>
                            <span class="text">CONTACTANOS</span>
                        </a>
                    </li>
                    <li class="col-12 col-sm-2">

                        <a href="~/Account/Login">
                            <span class="icon icon-heart"></span>
                            @{
                                if (!User.Identity.IsAuthenticated)
                                {
                                    <span class="text">ACCEDE</span>
                                }
                                else
                                {
                                    <span class="text">@User.Identity.Name</span>
                                }
                            }
                        </a>
                    </li>
                </ul>

            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->
    @RenderBody()
    @RenderSection("Scripts", false)
    <div>

    </div>
</body>
</html>