@{
    ViewBag.Title = "Story Me - This Story Is About You";
}


<!-- === Arrows === -->
<!-- === MAIN Background === -->
<div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
        <div id="home-row-1" class="row clearfix">
            <div class="col-12">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br /><br />
                <br />
                <br />
                <br /><br />
                <br />
                <br />
                <br /><br />
                <br />
                <br />
                <br /><br />
                <br />

                <br />
                <br />
                <br />
                <br />
            </div><!-- /col-12 -->
        </div><!-- /row -->

    </div><!-- /container -->
</div><!-- /slide1 -->
<!-- === Slide 2 === -->
<div class="slide story" id="slide-2" data-slide="2">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin">
                Cuentos  cortos, cálidos, divertidos y personalizados.
            </div>
        </div><!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div><!-- /row -->
        <div class="row subtitle-row">
            <div class="col-12 col-sm-6">
                <img src="~/images/imagen1.png" style="width:90%" />
            </div>
            <div class="col-12 col-sm-6">
                <h4 class=" font-thin" style="text-align:justify">
                    Tu hijo y tú podrán  conectarse al maravilloso y mágico mundo de la lectura, a través de nuestros cuentos.
                    <br /><br />
                    Somos una aplicación web y móvil disponible
                    para teléfonos celulares o tabletas
                    con  sistema operativo  iOS y Android.
                    <br /><br />
                    Tu hijo y tu podrán conectarse a
                    través del maravilloso y mágico
                    mundo de la lectura,
                    a través de nuestros cuentos.
                </h4>
            </div>
        </div><!-- /row -->
        <div class="row content-row">


        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /slide2 -->
<!-- === SLide 3 - Portfolio -->
<div class="slide story" id="slide-3" data-slide="3">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin">
                Y ¿Cómo empezar a
                <span class="font-semibold">cuentar</span>?
            </div>
        </div><!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div><!-- /row -->
        <div class="row content-row">
           
            <div class="col-12 col-sm-5">
                <p><img src="~/Images/LogoApp.png" style="height:82px" /></p>
                <h2 class="font-thin">Aplicación móvil (app)</h2>
                <h4 class="font-thin" style="text-align:justify;">
                    En tu tienda de aplicaciones, debes primero descargar gratuitamente nuestra app. La reconocerás por nuestro logo.
                    <br />
                    <br />
                    Ahí encontrarás dos versiones del  cuento.
                    <br />
                    <br />
                    Versión lectura: Podrás personalizar los cuentos eligiendo avatar, nombre y foto del niño, para luego compartir juntos la historia.
                    <br /><br />
                    Versión libre: Los niños no solo personalizan su avatar sino que eligen un escenario  y la aplicación les permite interacción, grabación de voz y la posibilidad de escribir su propio cuento. Es decir, los niños reinventan sus historias las veces que quieran. Y entonces todos…¡A JUGAR A LEER!

                </h4>
            </div><!-- /col12 -->
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-5">
                <p><img src="~/Images/logo.png" style="height:82px" /></p>
                <h2 class="font-thin">Aplicación web</h2>
                <h4 class="font-thin" style="text-align:justify;">Accede o registrate y comencemos a CUENTAR</h4>
            </div><!-- /col12 -->

            
        </div><!-- /row -->
    </div>
</div><!-- /slide3 -->
<!-- === Slide 4 - Process === -->
<div class="slide story" id="slide-4" data-slide="4">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin">
                Y ¿Qué más encuentro en
                <span class="font-semibold">Story Me</span>?<br />
            </div>
        </div><!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div><!-- /row -->
        <div class="row content-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-5">
                <p><i class="icon icon-bolt"></i></p>
                <h2 class="font-thin">Tips para padres</h2>
                <h4 class="font-thin" style="text-align:justify;">
                    Cada cuento ha sido cuidosa y cariñosamente creado para ti y tu hijo. Del mismo modo, hemos escrito algunas guías que te apoyan en el manejo de cada situación que recreamos en nuestras historias. 
                </h4>
                <br />
                <br />
                <br />
            </div><!-- /col12 -->
            <div class="col-12 col-sm-5">
                <p><i class="icon icon-cog"></i></p>
                <h2 class="font-thin">Juegos interactivos</h2>
                <h4 class="font-thin" style="text-align:justify;">
                    Diviértanse en familia con nuestros juegos interactivos. Reta a tu hijo con juegos inspirados en nuestros cuentos.
                </h4>
            </div><!-- /col12 -->

            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div><!-- /row -->
    </div>
</div><!-- /slide4 -->
<!-- === Slide 5 === -->
<!-- === Slide 6 / Contact === -->
<div class="slide story" id="slide-6" data-slide="6">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-light">Síguenos  en nuestras redes sociales, entérate de nuestras promociones, notas  y lanzamientos
<p class="font-semibold">¡Sé parte de nuestra comunidad!</p></div>
        </div><!-- /row -->

        <div id="home-row-2" class="row clearfix">
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide"><img src="~/images/iconf.png"></div></div>
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide"><img src="~/images/iconi.png"></div></div>
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide"><img src="~/images/icont.png"></div></div>

        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /Slide 6 -->
<!-- SCRIPTS -->
<script src="~/scripts/MUNTER/html5shiv.js"></script>
<script src="~/scripts/MUNTER/jquery-1.10.2.min.js"></script>
<script src="~/scripts/MUNTER/jquery-migrate-1.2.1.min.js"></script>
<script src="~/scripts/MUNTER/bootstrap.min.js"></script>
<script src="~/scripts/MUNTER/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="~/Content/fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
<script src="~/scripts/MUNTER/script.js"></script>

<!-- fancybox init -->
<script>
    $(document).ready(function (e) {
        var lis = $('.nav > li');
        menu_focus(lis[0], 1);

        $(".fancybox").fancybox({
            padding: 10,
            helpers: {
                overlay: {
                    locked: false
                }
            }
        });

    });

</script>